name: "abs-mcp build"
run-name: "abs-mcp build"

on:
    push:
        branches:
        - main
    pull_request:
        branches:
        - main
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            
            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: '1.25'

            - name: Run tests   
              run: go test -v ./...

            - name: Build abs-mcp
              if: !startsWith(github.ref, 'refs/tags/')
              run: go build -v -o abs-mcp main.go

            - name: Run GoReleaser
              if: startsWith(github.ref, 'refs/tags/')
              uses: goreleaser/goreleaser-action@v6
              with:
                distribution: goreleaser
                version: "~> v2"
                args: release --clean
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}